<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta -->
		<meta charset="utf-8">
		<title>Git Quotes</title>
		<meta name="author" content="Oliver Pope">
		<meta name="description" content="Inspirational Quotes For Developers">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Stupid Favicon Stuff -->
		<link rel="apple-touch-icon" href="images/quote-512.png">
		<link rel="icon" href="images/quote-32.png">
		<!--[if IE]><link rel="shortcut icon" href="images/quote.ico"><![endif]-->
		<!-- or, set /favicon.ico for IE10 win -->
		<meta name="msapplication-TileColor" content="#D83434">
		<meta name="msapplication-TileImage" content="images/quote-128.png">

		<!-- CSS -->
		<link href="/css/layouts.css" rel="stylesheet" type="text/css">
		<link href="/css/skeleton.css" rel="stylesheet" type="text/css">

	</head>
	<body>

		<div class="container">

			<header class="row">

				<h1><a href="/">Git Quotes</a></h1>
				<p>Inspirational Quotes for Developers</p>

			</header>

			<div class="row" id="content">

				{{ content }}

			</div>

		</div>

	</body>
</html>
